body{
    background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
form{
    width: 400px;
}
fieldset{
    border: 3px solid black;
    border-radius: 15px;
}
form{
    margin: auto;
}
h1{
    text-align: center;
}
input:focus{
   background: #EEAECA;
   background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); 
}

input[type="radio"]:checked{
    height: 20px;
    width: 20px;

}
select{
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(106, 230, 157, 1) 59%, rgba(237, 221, 83, 1) 100%);
}
textarea{
    resize: none;
}

